<h1>{{ title }}</h1>
<p>{{ message }}</p>

<ul>
  <li>
    <a href="/getCars">Get all the minis</a>
  </li>
  <li>
    <a href="#">Get one <i> *not functional yet</i></a>
  </li>
</ul>

<button type="button" name="button" id="F55" class="deleteButton">Delete</button>

<button type="button" name="button" id="F55" class="getButton">Run AJAX</button>
<button type="button" name="button" id="F56" class="getButton">Run AJAX</button>
<button type="button" name="button" id="F58" class="getButton">Run AJAX</button>
